data_in/
data_working/
notebooks/paper/
notebooks/poster/
presentations/
*/.ipynb_checkpoints/
.Rhistory
.RData
.RDataTmp
*.docx
parameter_list
presentation
data_out/**/*.csv

__pycache__/
*.nb.html
*.pdf
*.log
*.tex
*.qgz
*.png
*.pptx
*.shp
*.prj
*.dbf
*.shx

