data_in/
data_working/
notebooks/paper/
notebooks/poster/
presentations/
*/.ipynb_checkpoints/
.Rhistory
*.docx
parameter_list
presentation
data_out/lagos*.csv
data_out/model_results/*
__pycache__/
*.nb.html
*.pdf
*.log
*.tex
*.qgz
*.png
*.pptx

